<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Ph.D. in Computer Science</h1>
            <span>Carnegie Mellon University</span>
            <span><address>Pittsburgh, Pennsylvania</address><time>2015 to present</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>B.S. in Computer Science (4.0/4.0)</h1>
            <span>University of Wisconsin-Madison</span>
            <span><address>Madison, Wisconsin</address><time>2011 to 2014</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>B.S. in Computer Engineering (3.99/4.0)</h1>
            <span>University of Wisconsin-Madison</span>
            <span><address>Madison, Wisconsin</address><time>2011 to 2014</time></span>
        </header>
    </article>
</section>
