<section class="thirteen columns">
<h1>Industry Experience</h1>
<article>
<header>
<h1>Research Intern @ Google</h1>
<span><address>Mountain View, California</address><time>Summer 2017</time></span>
</header>
<p>
<ul>
<li>Interned at Applied Privacy Research team.</li>
<li>Designed an end-to-end machine learning system to automatically understand privacy-related user feedback and assign fine-grained privacy tags to users' text feedback.</li>
<li>Implemented and trained a recurrent neural network (RNN) using Tensorflow to capture semantic meaning of feedback text.</li>
<li>Achieved ~85% accuracy of the tag assignment.</li>
</ul>
</p>
</article>
<article>
<header>
<h1>Digital Hardware Interim Engineering Intern @ Qualcomm</h1>
<span><address>San Diego, California</address><time>Summer 2014</time></span>
</header>
<p>
<ul>
<li>Developed a python framework using OpenOffice API to automatically generate SoC clock synthesis constraint files from clock signal catalogs in Excel</li>
<li>Automated SoC clock cross domain checking file generation workflow</li>
</ul>
</p>
</article>
<article>
<header>
<h1>Program Manager Intern @ Microsoft</h1>
<span><address>Beijing, China</address><time>Summer 2012</time></span>
</header>
<p>
<ul>
<li>Developed an Android application to lock all UIs in landscape mode for synchronizations of mobile phones and In-Vehicle Infotainment system</li>
<li>Researched and compared different methods to achieve audio synchronization between Android phones and In-Vehicle Infotainment system</li>
</ul>
</p>
</article>
</section>
